<div class="container">
    <div class="row justify-content-around text-dark" style="column-gap: 40px;row-gap: 15px;">
        <div class="col-12 col-md-6 row bg-light rounded" *ngFor="let paciente of pacientes" (click)="enviarPaciente(paciente)">
            <div class="col-6">
                <h6>{{paciente.nombre}}</h6>
                <h6>{{paciente.apellido}}</h6>
                <h6>{{paciente.edad}}</h6>
                <h6>{{paciente.dni}}</h6>
                <h6>{{paciente.obraSocial}}</h6>
                <h6>{{paciente.email}}</h6>
            </div>
            <div class="col-6">
                <img [defaultImage]="spinner" [lazyLoad]="paciente.imagenes[0]" alt="" width="100%" style="border-radius: 50%;">
            </div>
        </div>
    </div>
</div>