<div class="container">
    <div class="table-responsive text-center">
        <table class="table table-dark table-hover noselect">
            <thead>
                <th scope='col'>Nombre</th>
                <th scope='col'>Apellido</th>
                <th scope='col'>Edad</th>
                <th scope='col'>DNI</th>
                <th scope='col'>Obra social</th>
                <th scope='col'>Email</th>
            </thead>
            <tbody>
                <tr *ngFor="let paciente of pacientes" (click)="enviarPaciente(paciente)">
                <td>{{paciente.nombre}}</td>
                <td>{{paciente.apellido}}</td>
                <td>{{paciente.edad}}</td>
                <td>{{paciente.dni}}</td>
                <td>{{paciente.obraSocial}}</td>
                <td>{{paciente.email}}</td>
            </tbody>
        </table>
    </div>
</div>