<div class="container" style="max-height: 100vh;">
    <div *ngIf="this.auth.loading">
        <div *ngIf="this.auth.loading">
            <app-spinner></app-spinner>
        </div>
    </div>
    <form [formGroup]='form' (ngSubmit)='this.signUp()'>
        <div class="containerForm bg-dark text-white">
            <h1>Registro</h1>
            <p>Completa los siguientes datos para crear una cuenta</p>

           <div class="row">
                <div class="col-12 col-sm-6">
                    <label for="email"><b>Email</b></label>
                    <input type="text" formControlName='email' name="email" required>
                    
                    <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required">
                        Ingrese su email
                    </div>
                    <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.email">
                        Ingrese un email valido
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <label for="password"><b>Contraseña</b></label>
                    <input type="password" formControlName='password' name="password" required>
                    
                    <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required">
                        Ingrese su contraseña
                    </div>
                    <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.minlength">
                        La contraseña debe tener 8 caracteres o mas
                    </div>
                </div>
            </div>
             <div class="row justify-content-center">
                <div class="col-md-4 col-12">
                    <label for="nombre"><b>Nombre</b></label>
                    <input type="text" formControlName='nombre' name="nombre" required>
                    
                    <div class='text-danger p-1' *ngIf="form.get('nombre')?.touched && form.get('nombre')?.errors?.required">
                        Ingrese su nombre
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <label for="apellido"><b>Apellido</b></label>
                    <input type="text" formControlName='apellido' name="apellido" required>
                    
                    <div class='text-danger p-1' *ngIf="form.get('apellido')?.touched && form.get('apellido')?.errors?.required">
                        Ingrese su apellido
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <label for="dni"><b>DNI</b></label>
                    <input type="number" name="dni" autocomplete="off" formControlName='dni' required>
            
                    <div class='text-danger p-1' *ngIf="form.get('dni')?.touched && form.get('dni')?.errors?.required">
                        Ingrese su DNI
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-12">
                    <label for="edad"><b>Edad</b></label>
                    <input type="number" name="edad" formControlName='edad' required>
        
                    <div class='text-danger p-1' *ngIf="form.get('edad')?.touched && form.get('edad')?.errors?.required">
                        Ingrese su edad
                    </div>
                </div>
                <div class="col-sm-6 col-12" *ngIf='this.tipoUser === "paciente"'>
                    <label for="obraSocial"><b>Obra social</b></label>
                    <input type="text" formControlName='obraSocial' name="obraSocial" required>
                    
                    <div class='text-danger p-1' *ngIf="form.get('obraSocial')?.touched && form.get('obraSocial')?.errors?.required">
                        Ingrese su obra social
                    </div>
                </div>
                <div class="col-sm-6 col-12 p-0" *ngIf='this.tipoUser === "especialista"'>
                    <label for="especialidad" class="d-block"><b>Especialidad</b></label>
                    <div style="display: none;">
                        <input type="text" formControlName='especialidad' style="width: 60%;" autocomplete="off" name="especialidad" required>
                    </div>
                    <input type="text" formControlName="nuevaEspecialidad" style="width: 60%;" autocomplete="off" name="nuevaEspecialidad" required>
                    <button type="button" class="btn btn-primary btn-sm d-inline ms-2" style="width: 36%;" (click)="agregarNuevaEspecialidad()">Agregar</button>

                    <div *ngIf="this.especialidadActual.length">
                        <label for="">Seleccionadas:</label>
                        <div class="badge rounded-pill bg-warning text-dark ms-1 noselect" *ngFor="let item of especialidadActual">
                            <i class="bi bi-x" style="font-size:15px" (click)="borrarEspecialidad(item)"></i>
                            {{item}}
                        </div>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center">
                        <div *ngFor="let item of especialidades">
                            <label class="ms-1 mt-1 badge rounded-pill bg-info text-dark noselect" for="especialidades" (click)="agregarEspecialidad(item.especialidad)">
                                {{item?.especialidad}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <input type="file" formControlName='imagen' (change)="cambioArchivo($event)" *ngIf='this.tipoUser !== "paciente"'>
                    <input type="file" formControlName='imagenes' (change)="cambioArchivo($event)" multiple *ngIf='this.tipoUser === "paciente";'>
                </div>
            </div>
        
            <div class="clearfix">
        
                <button type="submit" [disabled]='form.invalid ' class="btn">Registrarse</button>
            </div>
        </div>
    </form>
</div>