.bg{
    background: url("../../../assets/a.jpg") center;
}

.bgT{
    background: url("../../../assets/b.jpeg") center;
}

.bgU{
    background: url("../../../assets/u.jpeg") bottom;
}

.mp{
    background: url("../../../assets/mp.jpeg") bottom;
}