<div class="row justify-content-around mt-2" style="column-gap: 40px;row-gap: 15px;" *ngIf="this.pacientes; else unPaciente">
    <div class="col-12 col-md-3 row rounded text-white" style="background-color: rgba(0,0,0,.5);"
        *ngFor="let aux of pacientes" [ngClass]="{'d-none': !aux.historiaClinica}">
        <div>
            <div *ngFor="let historiaClinica of aux.historiaClinica">
                <p>Historia clinica del paciente {{aux.nombre}} {{aux.apellido}} - DNI: {{aux.dni}}</p>
                <div class="col-6">
                    <div>
                        <label>Altura</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.altura}}</h6>
                    </div>
                    <div>
                        <label>Peso</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.peso}}</h6>
                    </div>
                    <div>
                        <label>Temperatura</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.temperatura}}</h6>
                    </div>
                    <div>
                        <label>Presion</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.Presion}}</h6>
                    </div>
                    <div>
                        <label>{{historiaClinica.dinamico1.clave}}</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.dinamico1.valor}}</h6>
                    </div>
                    <div>
                        <label>{{historiaClinica.dinamico2.clave}}</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.dinamico2.valor}}</h6>
                    </div>
                    <div>
                        <label>{{historiaClinica.dinamico3.clave}}</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.dinamico3.valor}}</h6>
                    </div>
                    <div class="mb-1">
                        <label>{{historiaClinica.dinamico4.clave}}</label>
                        <h6 class="d-inline ms-2">{{historiaClinica.dinamico4.valor}}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #unPaciente>
    <div class="row justify-content-around mt-2" style="column-gap: 40px;row-gap: 15px;">
        <div class="col-12 col-md-3 row rounded text-white" style="background-color: rgba(0,0,0,.5);">
            <div>
                <div *ngFor="let historiaClinica of paciente.historiaClinica">
                    <p>Historia clinica del paciente {{paciente.nombre}} {{paciente.apellido}} - DNI: {{paciente.dni}}</p>
                    <div class="col-6">
                        <div>
                            <label>Altura</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.altura}}</h6>
                        </div>
                        <div>
                            <label>Peso</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.peso}}</h6>
                        </div>
                        <div>
                            <label>Temperatura</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.temperatura}}</h6>
                        </div>
                        <div>
                            <label>Presion</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.Presion}}</h6>
                        </div>
                        <div>
                            <label>{{historiaClinica.dinamico1.clave}}</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.dinamico1.valor}}</h6>
                        </div>
                        <div>
                            <label>{{historiaClinica.dinamico2.clave}}</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.dinamico2.valor}}</h6>
                        </div>
                        <div>
                            <label>{{historiaClinica.dinamico3.clave}}</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.dinamico3.valor}}</h6>
                        </div>
                        <div class="mb-1">
                            <label>{{historiaClinica.dinamico4.clave}}</label>
                            <h6 class="d-inline ms-2">{{historiaClinica.dinamico4.valor}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>