<div class="container text-white">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item mx-2 my-1 noselect">
            <a class="nav-link bg-info text-dark" (click)='cambiarTipoUser("Pacientes")'>Pacientes</a>
        </li>
        <li class="nav-item mx-2 my-1 noselect">
            <a class="nav-link bg-info text-dark" (click)='cambiarTipoUser("Especialistas")'>Especialistas</a>
        </li>
        <li class="nav-item mx-2 mt-1 mb-2 noselect">
            <a class="nav-link bg-info text-dark" (click)='cambiarTipoUser("Administradores")'>Administradores</a>
        </li>
        <li class="nav-item mx-2 mt-1 mb-2 noselect" *ngIf="this.tipoUser === 'Administradores'">
            <a class="nav-link bg-warning text-dark" (click)='this.registroAdministrador = true;'>Agregar
                administrador</a>
        </li>
    </ul>

    <div class="row justify-content-center aling-items-center">
        <div class="col-12 col-md-6 d-flex justify-content-center">
            <button class="btn btn-warning mb-2" (click)="downloadExcel()">Descargar excel con todos los
                usuarios</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-light" *ngIf="this.tipoUser === 'Pacientes';else otros">
            <h2>{{tipoUser}}</h2>
            <span *ngFor="let item of usuarios" class="d-inline-flex flex-column me-2"
                (click)="seleccionarPaciente(item)">
                <img [src]="item?.imagenes[0]" alt="" class="m-auto" width="80px" height="80px"
                    style="border-radius: 50%" appFoto>
                <p>{{item.nombre | primeraMayuscula}} {{item.apellido | primeraMayuscula}}</p>
            </span>
        </div>
        <ng-template #otros>
            <div class="col-12 text-light" *ngIf="this.tipoUser === 'Especialistas'">
                <app-tabla-especialista [especialistas]="this.usuarios"></app-tabla-especialista>
            </div>
            <div class="col-12 text-light" *ngIf="this.tipoUser === 'Administradores'">
                <app-tabla-admin [admins]="this.usuarios"></app-tabla-admin>
            </div>
        </ng-template>
        <div *ngIf="this.registroAdministrador">
            <app-registro [tipo]="this.tipoUser" (finalizado)="recibirEstado($event)"></app-registro>
        </div>
        <div *ngIf="this.tipoUser === 'Pacientes' && this.pacienteSeleccionado && !this.detalle">
            <app-historia-clinica [pacienteInput]="this.pacienteSeleccionado"></app-historia-clinica>
        </div>
        <div *ngIf="this.usuarios === null">
            <app-spinner></app-spinner>
        </div>
    </div>