<div class="container">
    <div class="row justify-content-around text-dark"  style="column-gap: 40px;row-gap: 15px;">
        <div class="col-12 col-md-6 row bg-light rounded" *ngFor="let admin of admins">
            <div class="col-6">
                <h6>{{admin.nombre}}</h6>
                <h6>{{admin.apellido}}</h6>
                <h6>{{admin.edad}}</h6>
                <h6>{{admin.dni}}</h6>
                <h6>{{admin.email}}</h6>
            </div>
            <div class="col-6">
                <img [defaultImage]="spinner" [lazyLoad]="admin.imagen" alt="" width="100%" style="border-radius: 50%;">
            </div>
        </div>
    </div>
</div>