<div class="container">
    <h2 class="text-center text-light">Listado de turnos</h2>
    <div class="d-flex justify-content-between flex-wrap" *ngIf="this.turnos?.length">
        <i (click)="limpiarFiltros()" class="bi bi-funnel-fill text-info noselect">Limpiar filtros</i>
        <div class="d-flex">
            <input type="text" class="mt-1 form-control d-inline" [(ngModel)]='searchParam' (ngModelChange)="filtrar()">
        </div>
    </div>
    <div *ngIf="this.turnosMostrar; else spinner">
        <div *ngIf='this.turnosMostrar.length; else spinner'>
            <div *ngIf="this.turnos[0].especialistaCompleto; else spinner" class="text-light">
                <div class="col-12 col-sm-6">
                    <span *ngFor="let item of especialistas"
                        class="badge rounded-pill bg-dark text-light m-1 mt-2 p-2 noselect"
                        (click)="seleccionarEspecialista(item)">
                        <img [src]="item?.imagen" alt="" width="80px" height="80px" style="border-radius: 50%" appFoto>
                    </span>
                </div>
                <div class="col-12 d-flex flex-wrap text-light">
                    <span *ngFor="let item of array" (click)="seleccionarEspecialidad(item)"
                        class="d-inline-flex flex-column me-2">
                        <img [src]="item?.imagen" alt="" width="80px" height="80px" style="border-radius: 50%" appFoto>
                        <p>{{item.especialidad}}</p>
                    </span>
                </div>
                <div class="row justify-content-around" style="column-gap: 40px;row-gap: 15px;">
                    <div class="col-12 col-md-4 row rounded" style="background-color: rgba(0,0,0,.5);"
                        *ngFor="let turno of turnosMostrar" [appEstados]="turno?.estado" appOpacity>
                        <div class="col-6">
                            <h6>{{turno?.fecha}}</h6>
                            <h6>{{turno?.hora}}</h6>
                            <h6>{{turno?.especialidad | primeraMayuscula}}</h6>
                            <h6 class="text-break">{{turno?.especialistaCompleto?.nombre | primeraMayuscula}}
                                {{turno?.especialistaCompleto?.apellido | primeraMayuscula}} -
                                {{turno.especialistaCompleto?.dni | dniFormat}}</h6>
                            <h6 class="text-break">{{turno?.pacienteCompleto?.nombre | primeraMayuscula}}
                                {{turno?.pacienteCompleto?.apellido | primeraMayuscula}} -
                                {{turno?.pacienteCompleto?.dni | dniFormat}}</h6>
                            <h6>{{turno?.estado | uppercase}}</h6>
                        </div>
                        <div class="col-6 d-flex h-100 justify-content-end">
                            <div class="d-flex flex-column">
                                <i class="bi bi-x-square-fill ms-2" title="Cancelar turno" (click)="cancelarTurno(turno)"
                                    *ngIf="turno.estado === 'pendiente'">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="this.mensaje !== ''">
                    <span class="text-danger">{{this.mensaje}}</span>
                </div>
            </div>
        </div>
    </div>
    <ng-template #spinner>
        <app-spinner></app-spinner>
    </ng-template>
</div>